@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 300;
    src: local("Comfortaa Light"), local("Comfortaa-Light"), url("fonts/Comfortaa-Light.woff2") format("woff2"), url("fonts/Comfortaa-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto Light"), local("Roboto-Light"), url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
    --primary-font: Roboto;
    --secondary-font: Comfortaa;
    --font-size-big: 24px;
    --font-size-medium: 17px;
    --font-size-small: 12px;
    --text-color: white;
    --background-color: var(--dark-blue);
    --background-color-transparent: var(--dark-blue-transparent);
    --primary-color: var(--magenta);
    --secondary-color: var(--grayish-blue);
    --tertiary-color: var(--cool-gray);
    --tertiary-color-transparent: var(--cool-gray-transparent);
    --success-color-transparent: var(--green-tranparent);
    --error-color-transparent: var(--red-tranparent);
    --border-radius-small: 3px;
    --border-radius-medium: 5px;
    --border-radius-big: 10px;
}

:root {
    --light-gray: #D9D9D9;
    --dark-gray: #7A7A7A;
    --pink: #BB86FF;
    --magenta: #9747FF;
    --violet: #2D1966;
    --cool-gray: #8491B8;
    --grayish-blue: #2E364F;
    --dark-blue: #191E2D;
    --cool-gray-transparent: rgba(132, 145, 184, 0.95);
    --green-tranparent: rgba(132, 184, 162, 0.95);
    --red-tranparent: rgba(184, 132, 132, 0.95);
    --dark-blue-transparent: rgba(25, 30, 45, 0.9);
    --red: #B88484;
}