@import "@/assets/base.css";

body {
    font-family: var(--primary-font);
    background: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    padding: 0;
    margin: 0;
}

button {
    font-family: var(--primary-font);
}

.skeleton {
    background: linear-gradient(110deg, var(--grayish-blue) 8%, #2d2d4d 18%, var(--grayish-blue) 33%);
    border-radius: 5px;
    background-size: 200% 200%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
