@import "@/assets/base.css";

body {
    font-family: var(--primary-font);
    background: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size-medium);
    padding: 0;
    margin: 0;
}

button {
    font-family: var(--primary-font);
}

.skeleton {
    background: linear-gradient(110deg, var(--grayish-blue) 8%, #2d2d4d 18%, var(--grayish-blue) 33%);
    border-radius: 5px;
    background-size: 200% 200%;
    animation: 1.5s shine linear infinite;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.drop-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}